/* This is the css theme for the Canada's Free Agent customizations. Author: Pierre-luc Pilon */
ul.top-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.top-nav {
    float: right;
}

li a.top-nav {
    display: block;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover.top-nav {
    background-color: #111;
}

/* For vertically aligned (middle) text */
p.event_desc {
   
    line-height: 18px;
    height:100px;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

ul.no {
    list-style-type: none;
    font-size: 18px;
    padding: 10px;
}

li.no {
    display: block;
    font-size: 18px;
   }
